<!DOCTYPE html>
    <html>
    <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <title>Flask Google Maps Full Map Example</title>
            <link rel="stylesheet" href="">
            {{fullmap.js}}
    </head>
    <body>
        <h1>Flask Google Maps Full Map Example</h1>
        {{ fullmap.html }}
	<script async defer src="https://maps.googleapis.com/maps/api/js?client=938454414503-v3h49h4qb9rs74kqe6je5gbmm8vhqmbc.apps.googleusercontent.com&v=3.31&callback=initMap"></script>
    </body>
</html>

