{% extends "structure.html" %}

{% block content %}

<div class="container">
    <div class="page-header">
        <h2>Manage concepts</h2>
    </div>
    <button class="btn btn-default" onclick="retrain()">Retrain</button>

    <h2>Create concept</h2>
    <form action="{{ url_for('create_topic') }}" method="POST" role="form">
        <div class="form-group">
            <div class="row col-md-12 col-lg-12">
                <div class="col-md-6 col-lg-6">
                    <input type="text" name="topic" class="form-control" placeholder="Topic name here..." required>
                </div>
                <div class="col-md-6 col-lg-6">
                    <input type="text" name="name" class="form-control" placeholder="Name here..." required>
                </div>
            </div><br/><br/>
            <div class="row col-md-12 col-lg-12">
                <div class="col-md-12 col-lg-12">
                    <textarea name="description" class="form-control" rows="6" placeholder="Description here..." required></textarea>
                </div>
            </div><br/><br/><br/><br/><br/><br/><br/>
            <div class="row col-md-12 col-lg-12">
                <div class="col-md-4 col-lg-4">
                    <input type="number" step="any" name="latitude" class="form-control" placeholder="Latitude here...">
                </div>
                <div class="col-md-4 col-lg-4">
                    <input type="number" step="any" name="longitude" class="form-control" placeholder="Longitude here...">
                </div>
                <div class="col-md-4 col-lg-4">
                    <input type="number" step="any" name="raio" class="form-control" placeholder="Radius here...">
                </div>
            </div>
        </div><br/><br/>
        <div class="row col-md-12 col-lg-12">
            <div class="col-md-12 col-lg-12">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </div>
    </form><br/><br/>
    

    <h2>Manage concept</h2>

    <div class="form-group">
        <select id="conceptlist" class="selectpicker form-control">
            {% for t in topics %}
            <option value="{{ t }}">{{ t }}</option>
            {% endfor %}
        </select>
    </div>
    <button class="btn btn-primary" onclick="getConcept()">Go</button>
    <button class="btn btn-danger" onclick="delConcept()">Delete</button>
    
</div>

{% if pending > 0 %}
<div class="container">
    <div class="page-header">
        <h2>{{ pending }} Pending requests</h2>
    </div>
</div>
{% endif %}

{% endblock %}

{% block scripts %}
<script src="{{url_for('.static', filename='js/index.js')}}"></script>
{{super()}}
{% endblock %}