{% extends "bootstrap/base.html" %}

{% block content %}

<div class="container">
    <div class="form-group">
        <form action="{{ url_for('signIn') }}" method="POST" role="form">
            <label for="user">Email</label>
            <input type="email" name="user" class="form-control"> <br>
            <label for="user">Password</label>
            <input type="password" name="password" class="form-control"> <br>
            <input type="submit" class="btn btn-primary">
        </form>
    </div> 
</div>

{% endblock %}

{% block scripts %}
{% if message %}
<script>
    alert("{{ message }}")
</script>
{% endif %}
{{super()}}
{% endblock %}