{% extends "structure.html" %}

{% block content %}


<div class="container">
    <div class="row">
        <div class="col-sm-4">
              <div class="form-row">
                <div class="form-group col-md-10">
                    <!--
                    select percurso.titulo, percurso.id, instanciapercurso.datainicio, instanciapercurso.id
                    -->
                  <select id="inputState" class="form-control">
                      {% for r in routes %}
                      <option><a href="http://192.168.160.192:8080/resources/routes/user_instances/{{r[3]}}/myinstances">{{r[0]}} [{{r[2]}}]</a></option>
                      {% endfor %}
                  </select>
                </div>
                <div class="col-md-2"><button type="submit" class="btn btn-primary">Escolher</button></div>
              </div>
        </div>
        <div class="col-sm-4"></div>
        <div class="col-sm-4"></div>

    </div>
</div>


{% endblock %}

{% block scripts %}
<script src="{{url_for('.static', filename='js/gallery.js')}}"></script>
{{super()}}
{% endblock %}