{% extends "structure.html" %}

{% block content %}


<div class="container">
    <div class="row">
        {% for r in routes %}
        <div class="col-sm-4">
              <div class="form-row">
                <div class="form-group col-md-4">
                    <!--
                    percurso.titulo, percurso.id, instanciapercurso.datainicio,
                    instanciapercurso.datafim, instanciapercurso.classificacao,
                    percurso.estado
                    -->
                  <select id="inputState" class="form-control">
                    <option>r[0]</option>
                  </select>
                </div>
                <div class="col-md-2"><button type="submit" class="btn btn-primary">Escolher</button></div>
                <div class="col-md-6"></div>
              </div>
        </div>
        <div class="col-sm-4"></div>
        <div class="col-sm-4"></div>
        {% endfor %}
    </div>
</div>


{% endblock %}

{% block scripts %}
<script src="{{url_for('.static', filename='js/gallery.js')}}"></script>
{{super()}}
{% endblock %}