{% extends "structure.html" %}

{% block content %}


<div class="container">
    <div class="row">
        <div class="col-sm-4">
              <div class="form-group">
                <div class="col-md-10">
                    <!--
                    select percurso.titulo, percurso.id, instanciapercurso.datainicio, instanciapercurso.id
                    -->
                  <select id="routeslist" class="form-control">
                      {% for r in routes %}
                      <option value="{{r[3]}}">{{r[0]}} [{{r[2]}}]</option>
                      {% endfor %}
                  </select>
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-primary" onclick="share_map_2()">Escolher</button>
                </div>
              </div>
        </div>
        <div class="col-sm-4"></div>
        <div class="col-sm-4"></div>

    </div>
</div>


{% endblock %}

{% block scripts %}
<script src="{{url_for('.static', filename='js/routes.js')}}"></script>
{{super()}}
{% endblock %}